.navbar {
  min-height: 120px;
  background-color: #343a40;
  border-bottom: 1px solid #ffffff;
}

.navbar .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-bottom {
  width: 100%;
}

.hamburger-right {
  margin-left: auto;
}

.nav-link {
  font-size: 1.1rem; /* Increase the font size of the menu items */
  position: relative; /* Set the position property to relative to position the circle */
  color: white!important;
}

.nav-link::before {
  content: '';
  position: absolute;
  left: -2px; /* Position the circle to the left of the menu item */
  top: 58%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.nav-item {
  margin-right: 20px; /* Add spacing between menu items */
}

.nav-item:last-child {
  margin-right: 0; /* Remove spacing for the last menu item */
}


/* Add these styles to your CSS file */
.featured-image {
  position: relative;
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 650px;
  overflow: hidden;
}

.image-description {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}


.image-description h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.image-description p {
  margin: 0;
  font-size: 14px;
}

.featured-image:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
}

#navbarDropdownHome::before {
  background-color: red; /* Change the color for the Gaming menu item */
}

#navbarDropdownPolitics::before {
  background-color: blue; /* Change the color for the eSports menu item */
}

#navbarDropdownScience::before {
  background-color: rgb(225, 207, 0); /* Change the color for the Entertainment menu item */
}

.image-container {
  padding-right: 5px; /* Add spacing to the right of the images */
}

.image-container:last-child {
  padding-right: 0; /* Remove spacing for the last image container */
}

@media (max-width: 767.98px) {
  .image-container {
    padding-right: 0; /* Remove spacing for mobile screens */
  }
}

/* Add these new styles to your CSS file */
.tag {
  display: inline-block;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.author {
  font-size: 11px;
  margin-bottom: 0;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1); /* Change the 0.3 value to control the darkness */
  transition: background-color 0.2s ease-in-out;
}

.featured-image:hover ~ .overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.description-container {
  max-width: 100%; /* Adjust the width of the container as needed */
  text-align: left;
  overflow-wrap: break-word; /* Wrap long words to prevent overflow */
}

.description-text {
  font-size: 25px; /* Adjust the font size as needed */
}

.image-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}

/* Bottom menu styles */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030; /* To keep the menu above the page content */
}

/* Hide the original menu on mobile */
@media (max-width: 991.98px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
}

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #333;
  z-index: 1000;
  padding-top: 20px; /* Add this line to create space for the logo */
}

.menu-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 40px; /* Add this line to vertically center the text */
}


.menu-item:hover {
  background-color: #444;
}

.logo-container {
  position: relative;
  bottom: 30px; /* Change this value */
  width: 70px;
  height: 70px;
  background-color: rgb(14, 14, 14);
  border-radius: 50%;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}




.menu-logo {
  position: absolute;
  width: 95px; /* Adjust width based on logo size */
  height: 95px; /* Adjust height based on logo size */
  border-radius: 50%; /* Make the logo circular */
  object-fit: cover; /* Preserve aspect ratio */
}

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Center the menu items vertically */
  height: 60px; /* Add a fixed height for the menu container */
  background-color: rgb(14, 14, 14);
}

/* Add these new styles to your CSS file */
@media (min-width: 768px) { /* Hide the menu-container on larger devices */
  .menu-container {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .hamburger-right {
    display: none;
  }
}

.breadcrumb-container {
  font-size: 0.9rem;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #6c757d;
}

