

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,600;0,900;1,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
}

.navbar {
  min-height: 120px;
  background-color: #343a40;
  border-bottom: 4px solid #ffffff;
}

.navbar .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-bottom {
  width: 100%;
}

.nav-link {
  font-size: 1.1rem; /* Increase the font size of the menu items */
  position: relative; /* Set the position property to relative to position the circle */
  color: white!important;
}

.nav-link::before {
  content: '';
  position: absolute;
  left: -2px; /* Position the circle to the left of the menu item */
  top: 58%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.nav-item {
  margin-right: 20px; /* Add spacing between menu items */
}

.nav-item:last-child {
  margin-right: 0; /* Remove spacing for the last menu item */
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
}



/* .nav-item a {
  color: white!important;
  text-decoration: none!important;
} */

.mobile-nav {
  background: #0d0d0d;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon img {
  width: 30px;
}

.featured-image {
  position: relative;
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 650px;
  overflow: hidden;
}

.image-description {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.image-description h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.image-description p {
  margin: 0;
  font-size: 14px;
}

.featured-image:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
}

.image-container {
  padding-right: 5px; /* Add spacing to the right of the images */
}

.image-container2 {
  padding-right: 5px; /* Add spacing to the right of the images */
  position: relative;
}

.image-container:last-child {
  padding-right: 0; /* Remove spacing for the last image container */
}

@media (max-width: 767.98px) {
  .image-container {
    padding-right: 0; /* Remove spacing for mobile screens */
  }
  .art2,
  .art3,
  .art4 {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-right: 0;
  }

  .art2 img,
  .art3 img,
  .art4 img {
    min-height: unset;
    height: 150px;
  }

  .art2 .tag,
  .art3 .tag,
  .art4 .tag {
    font-size: 14px;
    padding: 5px;
    display: block;
    margin: 5px 0;
  }

  .art2 .description-text,
  .art3 .description-text,
  .art4 .description-text {
    font-size: 16px;
  }

  .art2 .author,
  .art3 .author,
  .art4 .author {
    font-size: 12px;
  }

  .art2 .description-container,
  .art3 .description-container,
  .art4 .description-container {
    bottom: unset;
    right: unset;
    left: unset;
    padding-left: unset;
    padding-right: unset;
    margin-top: 5px;
  }
  .navbar-top {
    display: flex;
    justify-content: center;
}
}

#featured1 a {
  color: white;
}

.art2 a,
.art3 a,
.art4 a {
  color: white;
}

.image-articles-front {
  height: 500px;
  object-fit: cover;
}

.front-title {
  font-size: 50px;
}

/* For the smallest screen size (mobile) */
@media (max-width: 575px) {
  .row.g-0 {
    flex-direction: column;
  }

  #featured1 {
    border-bottom: 4px solid white;
  }

  #featured1 a {
    color: white;
  }

  .top-bg {
    background-color: rgb(33, 33, 33);
  }

  .art2,
  .art3,
  .art4 {
    flex-direction: row;
    padding: 10px 0;
  }



  .art2 img,
  .art3 img,
  .art4 img {
    height: 150px;
    width: 200px;
  }

  .art2 .description-container,
  .art3 .description-container,
  .art4 .description-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Change this line */
    margin-left: 200px;
  }
  .art2 .image-gradient,
  .art3 .image-gradient,
  .art4 .image-gradient {
    display: none;
  }

  .art2 .author,
  .art3 .author,
  .art4 .author {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  footer {
    display: none;
  }

  .image-articles-front {
    height: 220px;
  }

  .front-title {
    font-size: 30px;
  }

}




/* Add these new styles to your CSS file */
.tag-color-entertainment {
  background-color: rgb(11, 156, 6);
}

.tag-color-gaming {
  background-color: red;
}

.tag-color-esports {
  background-color: blue;
}

.tag-color-default {
  background-color: purple;
}

.tag {
  display: inline-block;
  padding: 2px 5px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
}

.tag_2 {
  display: inline-block;
  padding: 2px 5px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}

.author {
  font-size: 11px;
  margin-bottom: 0;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1); /* Change the 0.3 value to control the darkness */
  transition: background-color 0.2s ease-in-out;
}

.featured-image:hover ~ .overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.description-container {
  max-width: 100%; /* Adjust the width of the container as needed */
  text-align: left;
  overflow-wrap: break-word; /* Wrap long words to prevent overflow */
}

.description-text {
  font-size: 25px; /* Adjust the font size as needed */
}

.image-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 1) 100%);
  pointer-events: none;
}

/* Bottom menu styles */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030; /* To keep the menu above the page content */
}

/* Hide the original menu on mobile */
@media (max-width: 991.98px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
}

.menu-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgb(14, 14, 14);
  z-index: 1000;
}

.menu-item {
  flex: 1.2;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  height: 60px;
  padding-top: 15px;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background: rgb(14, 14, 14);
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  z-index: 1001;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.dropdown-menu li:hover {
  background-color: #db2222;
}

.menu-item:hover .dropdown-menu {
  display: block;
}

.menu-item:last-child {
  flex: 0.8; /* Make the last item 40% smaller */
}

.menu-item:hover {
  background-color: #db2222;
}


.menu-container {
  display: flex;
  align-items: center; /* Center the menu items vertically */
  height: 60px; /* Add a fixed height for the menu container */

}

.search-input {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 150%;
  z-index: 1001;
}

.search-input input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  background: rgb(14, 14, 14);
  border: none;
}

.menu-item:hover .search-input {
  display: block;
}

/* Add these new styles to your CSS file */
@media (min-width: 768px) { /* Hide the menu-container on larger devices */
  .menu-container {
    display: none;
  }

  .card-img-b {
    width: 100%;
    height: 220px; /* Adjust this height value as needed */
    object-fit: cover;
  }

  .mobile-nav {
    display: none;
    }

}

@media (max-width: 991.98px) {
  .hamburger-right {
    display: none;
  }

}

.breadcrumb-container {
  font-size: 0.9rem;
}

.breadcrumb-item a {
  color: #007bff!important;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.tag2 {
  position: absolute;
  top: 200px;
  left: 20px; 
}



.menu-item > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu3 {
  width: 50px;
}



.red-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.green-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(11, 156, 6);
  border-radius: 50%;
}

.blue-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

.red-circle_mobile {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}

.green-circle_mobile {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: rgb(11, 156, 6);
  border-radius: 50%;
}

.blue-circle_mobile {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: blue;
  border-radius: 50%;
}

.small-article {
  display: flex;
}

.card {
  border: none;
}

.img-fluid {
  position: relative;
}

.tag3 {
  position: absolute;
}

.card-body a{
  font-size: 20px!important;
  color: rgb(21, 21, 21)
}

.article-img {
  width: 100%;
  height: 220px; /* Adjust this height value as needed */
  object-fit: cover;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}